#body {
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 100px;
    color: #eeeeee;
    width: 63vw;
    height: 50vh;
    font-size: 16px;
}

#body h2 {
    text-align: center;
}

#body p {
    text-align: center;
}

#about {
    text-align: center;
    margin-top: 3em;
    color: #eeeeee;
    font-size: 18px;
}

#grad {
    position:
}

header {
    margin-top: 0;
    background-image: url("../assets/planets.png");
    background-size: cover;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    text-align: center;
    top: 50px;
    font-size: 64px;
}

.title {
    margin: auto;
    color: #eeeeee;
}
