#body {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    gap: 50px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    color: #eeeeee;
    font-size: 16px;
}

#body h2 {
    text-align: center;
}

#body p {
    text-align: center;
}

#pj2 img {
    width: 350px;
}

#pj4 {
    text-align: center;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #eeeeee;
    width: 63vw;
    height: 50vh;
    font-size: 16px;

}

#about {
    text-align: center;
    margin-top: 3em;
    color: #eeeeee;
    font-size: 18px;
}

header {
    margin-top: 0;
    background-image: url("../assets/pexels-jakub-novacek-space.jpg");
    background-size: cover;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    text-align: center;
    top: 50px;
    font-size: 64px;
}

.title {
    margin: auto;
    color: #eeeeee;
}
